option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8000
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: hello_world.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"