files:
  "/etc/hosts.ebextensions":
    mode: "000644"
    owner: root
    group: root
    content: |
      # VPC endpoint DNS entries
      # These entries help ensure connectivity to AWS services via VPC endpoints
      127.0.0.1 s3.eu-central-1.amazonaws.com
      127.0.0.1 elasticbeanstalk.eu-central-1.amazonaws.com
      127.0.0.1 elasticbeanstalk-health.eu-central-1.amazonaws.com
      127.0.0.1 cloudformation.eu-central-1.amazonaws.com
      127.0.0.1 logs.eu-central-1.amazonaws.com
      127.0.0.1 sqs.eu-central-1.amazonaws.com

commands:
  01_append_hosts:
    command: "cat /etc/hosts.ebextensions >> /etc/hosts"